<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver List</title>
</head>
<body>
    <h1>Driver List</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Abbreviation</th>
                <th>Name</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in info %}
                <tr>
                    <td><a href="{{ url_for('app_routers.about_driver', abbr=driver['abbreviation']) }}">{{ driver['abbreviation'] }}</a></td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.team }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
